/* Основные стили */
.mainDivProfile {
    display: flex;
    flex-direction: column;
    background-color: #81c784; /* Светло-зеленый фон */
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333; /* Темный текст для контраста */
}
.Changeprofile {
    background-color: #a3d9a5; /* Зеленый цвет фона */
    color: #2d6a4f; /* Белый текст */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы */
    font-size: 1em; /* Размер текста */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    position: absolute; /* Абсолютное позиционирование */
    top: 160px; /* Отступ сверху */
    right: 60px; /* Отступ справа */
}

.Changeprofile:hover {
    background-color: #81c784; /* Темно-зеленый цвет при наведении */
}

.Changeprofile:active {
    background-color: #3d8b40; /* Еще более темный зеленый при нажатии */
}

.Changeprofile:focus {
    outline: none; /* Убираем стандартный контур при фокусе */
    box-shadow: 0 0 0 3px rgba(72, 207, 173, 0.5); /* Добавляем тень при фокусе */
}

/* Верхняя секция */
.topSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Левый блок профиля */
.divProfile {
    background-color: #e0f7d0; /* Светло-зеленый */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.divProfile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.divProfile h2 {
    margin: 0;
    font-size: 1.5em;
}

/* Правый блок описания */
.divrightProfile {
    background-color: #e0f7d0; /* Светло-зеленый */
    padding: 20px;
    border-radius: 10px;
    width: 65%;
}

.divrightProfile h1 {
    margin-top: 0;
    font-size: 1.8em;
}

.divrightProfile p {
    margin: 10px 0;
    font-size: 1.1em;
}

/* Нижний блок */
.bottomDiv {
    background-color: #e0f7d0; /* Светло-зеленый */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.bottomDiv img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.bottomDiv h1 {
    margin: 0 0 10px;
    font-size: 1.8em;
}

.bottomDiv p {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.5;
}